/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #91BA8D;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Song Myung";
    font-size: 25px;
    border-style: solid;
    border-color: #658A6E;
    margin-top: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #658A6E;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgb(236, 236, 236);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* icons to indicate open/closed */
.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
